@import "../../style/mediaQuery";

.country-search {
  overflow: hidden;
  background: #fff;
  padding: 8px;
  margin: 16px;
  border-radius: 8px;
  flex: 1;
  min-width: 350px;
  @include media(phone) {
    margin: 0;
  }

  .search-wrap {
    display: flex;
    justify-content: center;
    .input-wrap {
      width: 80%;
    }
  }
  .country-search-overflow {
    overflow: auto;
    height: 80vh;
    @include media(phone) {
      height: 90vh;
      // position: sticky;
      // top: 0;
    }
  }
}
