@import "../../style/mediaQuery";

.india {
  .ant-card-body {
    @include media(phone) {
      padding: 5px !important;
      padding-bottom: 100px !important;
    }
  }
  .india-tile {
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    @include media(big-desktop) {
      box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    }
    @include media(phone) {
      flex-wrap: wrap;
    }

    .india-left-wrap {
      display: flex;
      flex-flow: column;
      align-items: center;
      flex: 1;
      & > .ant-spin-nested-loading {
        width: 100%;
      }
      .graph-wrap {
        width: 100%;
        max-width: 450px;
      }
      .stats-wrap {
        display: flex;
        justify-content: space-between;
        .stat-card {
          @include media(big-desktop) {
            // margin-left: 15px;
          }
        }
      }
    }

    .state-search-wrap {
      flex: 1;
      @include media(phone) {
        // margin-left: -14px;
      }
    }

    .state-search-overflow-wrap {
      @include media(big-desktop) {
        overflow: "hidden";
        overflow-y: "auto";
        height: "80vh";
      }
      .table th {
        @include media(phone) {
          position: sticky;
          top: 0px;
        }
      }
    }
  }
}
