$primary-color: #fc313f;
$green: #3f8600;
$blue: #4285F4;
$light-red: #ff5367;
$deep-red: #cf1322;
$background: #ececec;
$box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
$deep-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);