@import "../../../style/mediaQuery";

.nav {
  @include media(phone) {
    position: fixed;
    bottom: 5vh;
    height: 60px;
    width: 90vw;
    left: 5vw;
    display: flex;
  }
  @include media(big-desktop) {
    margin-top: 5vh;
    height: 90vh;
    width: 60px;
    position: fixed;
    left: 20px;
  }
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;

  .nav-logo {
    @include media(phone) {
      margin-left: 20px;
    }
    @include media(big-desktop) {
      margin-top: 20px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      background-image: url("../../../logo.gif");
      background-repeat: no-repeat;
      background-size: contain;
      width: 40px;
      height: 40px;
      cursor: pointer;
      animation: spin 12s linear;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      8.33% {
        transform: rotate(60deg);
      }
      16.66% {
        transform: rotate(60deg);
      }
      25% {
        transform: rotate(120deg);
      }

      33.33% {
        transform: rotate(120deg);
      }
      41.66% {
        transform: rotate(180deg);
      }
      50% {
        transform: rotate(180deg);
      }
      58.33% {
        transform: rotate(240deg);
      }

      66.66% {
        transform: rotate(240deg);
      }
      75% {
        transform: rotate(300deg);
      }
      83.33% {
        transform: rotate(300deg);
      }
      91.66% {
        transform: rotate(360deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
  .nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include media(big-desktop) {
      margin-top: 30px;
      flex-flow: column;
    }

    align-items: center;

    .nav-btn {
      padding: 10px;
      // color: #8f8f8f;
      color: #ff5367;
      border-radius: 5px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      margin-bottom: 5px;
      cursor: pointer;
      transition: transform 0.2s;

      div {
        display: flex;
      }

      .india-icon {
        svg {
          fill: #ff5367;
        }
      }

      &:hover {
        transform: scale(1.1);
        background: #ff5367;
        color: #fff;
        .india-icon {
          svg {
            fill: #fff;
          }
        }
      }

      &.active {
        transform: scale(1.2);
        background: #fc313f;
        color: #fff;
        z-index: 2;
        .india-icon {
          svg {
            fill: #fff;
          }
        }
      }
    }
  }
}
