@import "../../style/config";
@import "../../style/mediaQuery";

.table {
  width: 100%;
  th,
  td {
    padding: 10px;
    @include media(phone) {
      padding: 7px;
      font-size: 12px;
    }
    .cell {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      font-weight: 500;
      flex-wrap: wrap;
      .new {
        margin-right: 5px;
        font-size: 12px;
        display: flex;
        align-items: center;
        @include media(phone) {
          font-size: 10px;
        }
        svg {
          margin-right: 2px;
          font-size: 8px;
        }
      }
      &.align-left {
        justify-content: flex-start;
        @include media(phone) {
          margin-right: -18px;
        }
        .head-label {
          cursor: default !important;
        }
      }
    }
  }
  th {
    background: #ddd;
    @include media(phone) {
      position: sticky;
      top: 30px;
    }
    .cell {
      flex-wrap: nowrap;
      .new,
      .head-label {
        cursor: pointer;
        position: relative;
        svg {
          font-size: 16px;
          position: absolute;
        }
      }
      .new {
        svg {
          left: -15px;
        }
      }
      .head-label {
        svg {
          right: -15px;
        }
      }
    }
  }

  tr {
    &:nth-child(even) {
      background: #f7f7f7;
    }
    &.detailed-info-row {
      .detailed-info-cell {
        padding: 0 50px;
      }
    }
  }
}
