@import "./style/config";
@import "./style/mediaQuery";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: $background !important;
  @include media(phone) {
    background-color: #fff !important;
  }
}

.app-content-wrap {
  @include media(big-desktop) {
    margin-left: 120px;
    padding-top: 20px;
    padding-right: 20px;
  }
  @include media(phone) {
    width: 100vw;
  }
}

.pr0 {
  padding-right: 0px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.p20 {
  padding: 20px;
}
.table-cell-info {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.new-cases {
  color: $blue;
}
.new-deaths {
  color: $deep-red;
}

.new-recovered {
  color: $green;
}

.country-table-info-wrap {
}

.ant-select-item {
  &.ant-select-item-option {
    &.ant-select-item-option-active {
      background-color: #f1a1ab;
    }
  }
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(156, 156, 156, 0.3);
  border-radius: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(112, 112, 112, 0.3);
  background-color: #ccc;
}

.ant-card-body {
  @include media(phone) {
    padding: 10px !important;
    padding-bottom: 100px !important;
  }
}

.ant-card-head {
  .main-title {
    display: flex;
    align-items: center;
    .logo {
      background-image: url("./logo.gif");
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-right: 7px;
      animation: spin 6s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      8.33% {
        transform: rotate(60deg);
      }
      16.66% {
        transform: rotate(60deg);
      }
      25% {
        transform: rotate(120deg);
      }

      33.33% {
        transform: rotate(120deg);
      }
      41.66% {
        transform: rotate(180deg);
      }
      50% {
        transform: rotate(180deg);
      }
      58.33% {
        transform: rotate(240deg);
      }

      66.66% {
        transform: rotate(240deg);
      }
      75% {
        transform: rotate(300deg);
      }
      83.33% {
        transform: rotate(300deg);
      }
      91.66% {
        transform: rotate(360deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.ant-spin-dot-item {
  background: $light-red !important;
}

.ant-collapse-header {
  background: #fff;
}
