@import './style/config';
@import './style/mediaQuery';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  
}

body {
  background-color: $background !important;
  @include media(phone){
    background-color: #fff !important;
  }
}

.app-content-wrap {
  @include media(big-desktop){
  margin-left: 120px;
  padding-top: 20px;
  padding-right: 20px
  }
  @include media(phone){
    width: 100vw;
  }
}

.pr0 {
  padding-right: 0px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.table-cell-info {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.new-cases {
  color: $green;
}
.new-deaths {
  color: $deep-red;
}

.new-recovered {
  color: $green;
}

.country-table-info-wrap {
}

.ant-select-item {
  &.ant-select-item-option {
    &.ant-select-item-option-active {
      background-color: #f1a1ab;
    }
  }
}

.flex-around{
  display: flex;
  justify-content: space-around;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(156, 156, 156, 0.3);
	border-radius: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(112, 112, 112, 0.3);
	background-color: #ccc;
}