@import "../../style/mediaQuery";
@import "../../style/config";

.stat-card {
  background: #fff;
  padding: 12px 24px;
  flex: 1;
  margin: 16px 0;
  border-radius: 2px;
  user-select: none;
  font-weight: 600;
  @include media(phone) {
    padding: 6px 12px;
  }
  .label {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    @include media(phone) {
      font-size: 12px;
    }
  }
  .value {
    color: rgba(0, 0, 0, 0.65);
    font-size: 18px;
    font-weight: 500;
    @include media(phone) {
      font-size: 14px;
    }
  }
  .change {
    color: red;
    font-size: 11px;
    display: flex;
    align-items: center;
    &.green {
      color: $green;
    }
    svg {
      font-size: 16px;
      @include media(phone) {
        font-size: 12px;
      }
    }
    @include media(phone) {
      font-size: 11px;
    }
  }
}
